.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.headerCard2 {
  display: flex;
  justify-content: space-evenly;
  width: 40vw;
  align-items: center;
}
li {
  list-style-type: none;
}
.logoutButton {
  background-color: #0b69ff;
  color: white;
  height: 6vh;
  align-self: center;
  margin: 5px;
  border: 0px;
  cursor: pointer;
  outline: none;
  width: 5vw;
  border-radius: 5px;
}
